@use "variables" as *;

.navigation {
  display: flex;
  align-items: center;
  padding: $padding-base;
  flex-wrap: wrap;
  justify-content: space-around;

  &__item {
    display: inline-block;
    padding: $padding-small;

    &--current {
      background-color: $background-secondary;
      border-radius: $border-radius;
    }
  }

  @media (min-width: 768px) {
    gap: $padding-large;
    height: 10vh;
  }
}

.theme-toggle {
  background-color: $button;
  border: 2px solid $button;
  color: $button-text;
  padding: $padding-base;
  border-radius: $border-radius;
  margin-left: auto;

  &:focus {
    border: 2px solid $button-text;
  }
}

.product {
  background-color: $background-primary;
  padding: $padding-large;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;

  &__image-container {
    height: 300px;
    overflow: hidden;
    margin-bottom: $margin-base;
  }

  &__image {
    height: 100%;
    display: block;
    margin: auto;
  }

  &__title {
    grid-column: 1 / -1;
    margin-bottom: $margin-base;
    color: $sub-headline;
  }

  &__description {
    grid-column: 1 / -1;
    margin-bottom: $margin-base;
  }

  &__price {
    margin-bottom: $margin-base;
  }

  @media (min-width: 768px) {
    &:first-of-type,
    &:last-of-type {
      grid-column: 1/-1;

      display: grid;
      grid-template-columns: 0.5fr 1fr;
      grid-template-rows: 1fr 1fr 0.5fr 0.5fr;

      .product__image-container {
        grid-row: 1 / -1;
      }

      .product__title {
        grid-column: unset;
      }
      .product__description {
        grid-column: unset;
      }
    }
  }
}

.faq {
  padding: $padding-base;
  border-radius: $border-radius;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
