$background-primary: var(--background-primary);
$background-secondary: var(--background-blue);
$headline: var(--headline);
$paragraph: var(--paragraph);
$button: var(--button);
$button-text: var(--button-text);
$sub-headline: var(--sub-headline);

$font-size-base: var(--font-size-base);
$font-size-large: var(--font-size-large);
$font-size-xlarge: var(--font-size-xlarge);

$padding-small: var(--padding-small);
$padding-base: var(--padding-base);
$padding-large: var(--padding-large);

$margin-base: var(--margin-base);
$margin-large: var(--margin-large);
$margin-xlarge: var(--margin-xlarge);

$border-radius: var(--border-radius);

// CSS Variables
:root {
  --background-primary: #fffffe;
  --background-blue: #e3f6f5;
  --headline: #272343;
  --paragraph: #2d334a;
  --button: #ffd803;
  --button-text: #272343;

  --font-size-base: 16px;
  --font-size-large: 32px;
  --font-size-xlarge: 48px;

  --padding-small: 8px;
  --padding-base: 16px;
  --padding-large: 32px;

  --margin-base: 16px;
  --margin-large: 32px;
  --margin-xlarge: 48px;

  --border-radius: 4px;
}
